body{
    background-color: #c0c0c0;
    padding: 20px;
    color: #ffffff;
    font-family: Arial, verdana, sans-serif;
}
p{
    padding: 5px;
    margin: 0%;
}
h1{
    background-color: #aca9a9;
    text-align: center;
}
#P-One{
    background-color: #0000cf;
}
#P-Two{
    background-color: #2d2dff;
}
#P-Three{
    background-color: #4e4eff;
}
#P-Four{
    background-color: #7373ff;
}
#P-Five{
    background-color: #9191ff;
}
#P-Six{
    background-color: #a7a7ff;
}
#P-Seven{
    background-color: #00aa56;
}
#P-Eight{
    background-color: #facbe8;
}
#P-Nine{
    background-color: #fda4db;
}
#P-Ten{
    background-color: #ff7acc;
}
#P-Eleven{
    background-color: #fd54bc;
}
#P-Twelve{
    background-color: #fa29aa;
}
#P-Thirteen{
    background-color: #ff009d;
}
